################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/api/.vs
/.vs/mercadona_net6/FileContentIndex
