/* .product-form {
  max-width: 500px;
  margin: auto;
} */


textarea {
  height: 6em; /* Définissez la hauteur de l'élément description à 10em */
}

input[type="file"], select, input[type="number"] {
  width: 100%; /* Définissez la largeur de ces éléments à 100% */
  padding: 0.5em;
  border: 1px solid #ccc;
  height: 2em;
  font-size: 01em;
}

select {
  height: 2em;
}
button{
height: 2em;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: normal;
}
.products{
height: 75vh;
overflow-x: unset;
overflow-y: scroll;

}



.vert-center {
display: flex;
align-items: center;
justify-content: center;
height: 80vh; /* ou une hauteur fixe si vous préférez */
}

.product-form {
width: 70%;
}
