<div class="container">
  <div class="row pt-2">
    <div class="col-md-6">
      <div class="text-center">
        <h5>Ajouter une promotion</h5>
          <form #promoForm = ngForm (submit)="submitForm()">
            <div >
              <label for = "startDate">Date de début</label>
              <input  class="form-control" name = "startDate" type="date"  [(ngModel)]="startDate" [min]="today | date:'yyyy-MM-dd'" required>
            </div>
            <div >
              <label for = "endDate">Date de fin</label>
              <input  class="form-control" name = "endDate" type="date" [(ngModel)]="endDate"  [min]="startDate| date:'yyyy-MM-dd' " required>
            </div>
            <div >
              <label for = "remise">Remise</label>
              <input class="form-control" name = "remise" type="number" [(ngModel)] = "remise" required>
            </div>
            <button type="submit" class="btn btn-primary mt-1" [disabled]="!promoForm.valid">Enregistrer</button>
          </form>
      </div>

    </div>
    <div class="col-md-6">
      <div class="text-center">

        <h5>Liste des promotions</h5>
        <table class="table">
          <thead>
            <tr>

              <th scope="col">Date de début</th>
              <th scope="col">Date de fin</th>
              <th scope="col">Remise</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let promo of promotions">

              <td>{{promo.debut  | date: 'dd/MM/yyyy'}}</td>
              <td>{{promo.fin  | date: 'dd/MM/yyyy'}}</td>
              <td>{{promo.remise}} %</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
