.navbar {

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3.5em;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #efa043;
  padding-left: 1em;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}
