


<div class="container">
  <div class="row mt-4" >
    <div class="col-md-6  mb-2 text-center">
      <h5 class="title-app">Ajouter une catégorie : </h5>

      <form #catForm="ngForm" (ngSubmit)="submit()">
        <input class="form-control" type ="text" name="libelle" [(ngModel)] = "libelle"><br>
        <button type = "submit" class="btn btn-primary" [disabled] = "libelle == null || libelle == '' ">Enregistrer</button>
       <!--  {{catForm.value|json}} -->
      </form>

    </div>
    <div class="col-md-6 text-center">
      <h5 class="title-app">Liste des catégories</h5>
      <div *ngFor="let cat of categories">

      <div class="card mb-1 shadow-sm">
        <div class="card-body">
          <p class="card-title">{{cat.libelle}}</p>
          <span class="delete ">
            <i class="fa-solid fa-trash" (click)="deleteCategory(cat)"></i>
          </span>

        </div>
      </div>
    </div>


    </div>
  </div>
</div>
