
<div class="container-fluid">

  <div #readyProducts class="catalogue">
    <div class="edit">

    </div>
    <div class="title-container">

      <h5 class="text-center pt-3 pb-1 title">Notre catalogue de produits Mercadona</h5>
      <div class="text-center">

        <img *ngIf="loading" src="assets/images/loader.gif" style="width: 6rem;">
      </div>

    </div>

    <div class="all-container row">
      <div class="col-md-2">

        <section class="filters-section">
          <span class="">
            <mat-checkbox #all checked (change)="setAll($event.checked)">
              Tout
            </mat-checkbox>
          </span>
          <span class="">

            <div *ngFor="let cat of categoryChecker.categories">
              <mat-checkbox [(ngModel)]="cat.completed" (change)="filterProducts()">
                {{cat.libelle}}
              </mat-checkbox>
            </div>

          </span>
        </section>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div *ngFor="let p of filteredProducts" class=" item col-md-3">

            <ng-container>
              <div class="card ">
                <h5 class="card-title">{{p.libelle | titlecase}}</h5>
                <div class="img-container">
                  <img class="card-img" [src]=" 'data:image/png;base64,' + p.image" alt="Card image cap">
                </div>

                <span class="promo-div" *ngIf="p.promotion">Promo {{p.promotion.remise}} %</span>
                <div class="card-body">

                  <div *ngIf="p.promotion" class="promo-text" >Promo du <span>{{p.promotion.debut | date : "dd-MM-yy"}}
                      au
                      {{p.promotion.fin | date : "dd-MM-yy"}}</span> </div>
                  <div *ngIf="p.promotion">
                    <span [ngClass]="{'line': p.promotion.remise > 0}">{{p.prix}}</span> $ <span
                      >{{ApplyPromo(p.prix, p.promotion.remise)}} $</span>
                  </div>
                  <p class="card-text">{{p.description}}</p>
                  <div class="actions">
                    <div class="edit">
                      <i class="fa-solid fa-pen-to-square" (click)="openEditProduct(p)"></i>

                    </div>
                    <div class="delete">
                      <i class="fa-solid fa-trash"></i>
                    </div>
                  </div>

                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>
